html, body {
    height: 100%;
}

/* This main gives rules for the entire page, the main container */
#main {
    transition: margin-left .5s;
    padding: 2em;
    display: block;
    font-family: 'Lato';
    height: 100%;
}

header {
    display: inline;
}

header #search {
    float: right;
    padding: 0.5em;
}

header h1 {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    font-family: 'Lato';
}

/* Sidebar Navigation system */
.sideNav {
    background-color: #366999;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    transition: 0.5s;
    scroll-behavior: smooth;
}

.sideNav a {
    padding: 0.5em 0.5em 0.5em 2em;
    text-decoration: none;
    font-size: 1em;
    color: lightgray;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover {
    color: white;
}

.sideNav .closebtn {
    position: absolute;
    top: 0;
    right: 0.4em;
    font-size: 2em;
    margin-left: 1.3em;
}

.sideNav h2 {
    padding: 0.5em 0.5em 0.5em 2em;
    text-decoration: none;
    color: white;
    display: block;
}

.sideNav h3 {
    padding: 0.5em 0.5em 0.5em 2em;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.openbtn {
    font-size: 0.7em;
    cursor: pointer;
    background-color: lightgray;
    color: black;
    padding: 0.4em 0.6em;
    border: none;
    display: inline;
}

.openbtn:hover {
    background-color: whitesmoke;
}

/* Main message container */
.mainView {
    scroll-behavior: smooth;
    border: black;
    border-radius: 0.2em;
    border-style: double;
    position: relative;
}

.messagesView {
    width: 100%;
    padding: 2em;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 20em;
    box-sizing: border-box;
    border-style: groove;
}

.messagesView .messageDiv {
    width: 100%;
    border-style: dotted;
    display: block;
}

.messagesView #messages_span {
    width: 83%;
    padding-right: 1em;
    height:max-content;
    scroll-padding-right: 1em;
    display: inline-block;
    text-align: left;
    overflow: hidden;
    overflow-wrap: break-word;
}

.messagesView #date_span {
    display: inline-block;
    text-align: right;
    color: gray;
}

.inputField {
    padding: 1em;
    margin-bottom: 0.5em;
    width: 100%;
    z-index: 1;
}

.inputField input {
    padding: 0.7em;
    width: 90%;
    float: bottom inline-start;
    border-radius: 0.5em;
}

.inputField button {
    padding: 0.7em;
    width: 5%;
    float: bottom inline-end;
}

.channelButtons {
    align-items: stretch;
    width: 100%;
    padding: 0.5em;
    margin-left: 0.5em;
}